@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");

/* estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: white;
}

/* estilos barra nav */
nav {
  background-color: transparent;
  backdrop-filter: blur(50px);
  box-shadow: 0px 2px 8px rgba(32, 32, 32, 0.144);
}

nav img {
  width: 40px;
}

/* estilos main */

main {
  background-color: black;
}

.card {
  border-radius: 0px;
}

/* Bonton form */

.btn {
  color: white;
}
/* alert */
.toast {
  background-color: white;
}
.colorFondo {
  background-color: white;
}

.colorLetra {
  color: black;
}

/* footer */

footer {
  background-color: #10cbe8;
}
